@import 'bootstrap-sprockets';
@import 'bootstrap';

// mixins, variables, etc.

$gray-medium-light: #eaeaea;
$light-gray: #777;
$white: #fff;
$gray: #555;
$gray-darker: #222;
$sliver: #bbb;
$red: #f00;

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// universal

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

// typography

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $light-gray;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// header

.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

// footer

footer {
  border-top: 1px solid $gray-medium-light;
  color: $light-gray;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// miscellaneous

.debug-dump {
  @include box-sizing;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

// forms

input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $sliver;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto;
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field-with-errors {
  @extend %has-error !optional;

  .form-control {
    color: $state-danger-text;
  }
}
